body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}


.pontuacao {
    font-size: 50px;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    color: greenyellow;
    top: 0;
    right: 0px;
}