@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-family: 'Titan One', cursive;
    min-height: 100vh;
    margin: 0;
    padding: 0 20%;
    background-color: #000;
    overflow: hidden;
}

h1 {
    margin-bottom: 10px !important;
    margin-top: 0px !important;
}

button {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    background-color: #000;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    color: #fff;
}

.pontuacao {
    font-size: 50px;
    position: absolute;
    margin-top: 15px;
    margin-right: 15px;
    color: greenyellow;
    top: 0;
    right: 0px;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

@media(max-width: 700px){
    h1{
        font-size: 30px;
    }
}